<h1>Members only page</h1>

<a href="/posts/new">Add new post</a>


<ul>

    <% posts.map(x => { %>
        <li>
            <a href="/posts/<%= x.id%>">View</a>
            <h1><%= x.title %></h1>
            <p><%= x.text %></p>
        </li>
    <%})%>
</ul>
