<h1>Please enter the secret code to officially become a member</h1>
<form action="/posts/secret" method="post">
    <input type="text" name="code" id="code" placeholder="Code">
    <button type="submit">Submit</button>
</form>